h1{
  font-family: Helvetica, sans-serif;
  color: peachpuff;
	text-shadow: 2px 2px black;
  font-size: 50px;
	text-align: center;
}

h2{
  font-family: Helvetica, sans-serif;
  color: darkolivegreen;
	text-shadow: 2px 2px black;
  text-decoration: underline;
	letter-spacing: 0.5px;
  text-align: center;
}

a{
  color: black;
}

li{
  text-align: center;
}

p {
	font-family: Helvetica, sans-serif;
	font-size: 16px;
	color: black
	line-height: 1.8;
  text-align: center;
}

div#content {
	margin: 50px 50px 0px 50px;
	padding: 5px 5px 10px 5px;
	border-style: solid;
  border-width: 2px;
  border-color: darkolivegreen;
}

img {
	border-radius: 8px;
	height: 275px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body {
	background-color: honeydew;
}